body {
	background-color: #fff;
	color: #101010;
	font-size:0.7em;
	font-family: Verdana, Helvetica, sans-serif;
	behavior: url(csshover.htc);
}

#wrapper{
	background-color: #ddd;
	border: 0px solid #69D2E7;
	width:550px;
	margin:auto;
	display:block;
	#height:1000px;
}

#title { 
	font-family: 'Droid Sans';
	float: left;
	font-size: 16px;
	color:#FFFF00;
	margin-left: 5px;
}

#menu {
   display:table;
   width: 550px;
   margin:auto;
   background-color: rgb(19, 40, 57);
}

#main_content{
	clear:both;
	width:539px;
	float:left;
	padding-left: 10px;
}


#footer{
	clear:both;
	background: #fff;
	text-align: right;
	padding: 2px;
	padding-right: 10px;
	height:10px;
}


div#menu a {
	color:#000;
	text-decoration:none;
}


ul#nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul#nav li a {
	display: block;
	font-weight: bold;
	padding: 2px 10px;
	background:#f9f9f9;
}

ul#nav li a:hover {
	background:#888;
	color:#fff;
}
	
ul#nav li {
	float: left;
	position: relative;
	width: 100px;
	text-align: center;
	margin-right:5px;
	border:1px solid #ccc;

}

ul#nav li.current a {
	background:#ddd;
}

ul#nav li.current a:hover {
	background:#888;
}

li ul {
	display: none;
	position: absolute;	
	width:100px;
	top: 0;
	left: 0; 
}

ul#nav li ul.sub li{
	border-width:0 1px 1px 1px!important;
	list-style:none;
	text-align:left;
}

ul#nav li ul.sub li a{
	font-weight: normal!important;	
}
li>ul {
	top: auto;
	left: -40px;
}

li:hover ul, li.over ul {
	display: block;
}
