{% extends "frontpage/base_generic.html" %}

{% block main_content %}

{% block sharedFiles %}
	{% if shared_files %}
		<ul>
			{% for file in shared_files %}
				<li>
					<img src="http://www.gravatar.com/avatar/{{ file.gravatar }}.jpg?s=40" alt="gravatar for {{ shout.user }}"/>{{ file.user }} shared <a href="{{ media_url }}{{ file.file_name }}" name="{{ file.file_name }}">{{ file.file_name }}</a> at {{ file.pub_date.hour }}:{{ file.pub_date.minute }} {{ file.pub_date.day }}/{{ file.pub_date.month }}/{{ file.pub_date.year }}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No files are available.</p>
	{% endif %}
{% endblock %}

{% endblock %}
