<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Uppsala Project</title>
	<link rel="stylesheet" href="/site_media/main.css" type="text/css" media="screen" /> 
</head>
<body>
  <div id="wrapper">
	<div id="header"> Uppsala Project</div>
	<div id="content">
	  {% if user %}
	    {% block logged_in_content %}
	    {% endblock %}
	  {% else %}
	    {% block not_logged_in_content %}
	    {% endblock %}
	  {% endif %}
	</div>
  </div>
</body>
</html>
