{% extends "frontpage/base_generic.html" %}

{% block logged_in_content %}

user: {{ user }}
<div id="shoutbox">
 {% block shouts_i %}
   {% include "shoutbox/index.html" %}
 {% endblock %}
 {% block addshout_i %}
   {% include "shoutbox/shout.html" %}
 {% endblock %}
</div>
<div id="meeting">
  {% block meeting_i %}
    {% include "meet/index.html" %}
  {% endblock %}
</div>
<div id="radio">
  {% block radio_i %} 
    {% include "radio/index.html" %}
  {% endblock %}
</div>
<div id="fileshare">
  {% block fileshare_i %}
    {% include "fileshare/index.html" %}
  {% endblock %}
</div>

{% endblock %}
