{% extends "frontpage/base_generic.html" %}


{% block not_logged_in_content %}
<div id="login">
  {% block login %}
    <strong>Login</strong>
	<form action="/users/login/" method="post">
	  <table>
		<tr>
		  <td>username:</td> <td><input type="text" name="username" /></td>
		</tr>
		<tr>
		  <td>password:</td> <td><input type="password" name="password" /></td>
		</tr>
	  </table>
	  <input type="submit" value="login"/> 
	</form>
  {% endblock %}
</div>
<div id="register">
  {% block register %}
    <strong>Register</strong>

	<form action="/users/register/" method="post">
	  <table>
		<tr>
		  <td>username:</td> <td><input type="text" name="username" /></td>
		</tr>
		<tr>
		  <td>password:</td> <td><input type="password" name="password" /></td>
		</tr>
		<tr>
		  <td>email:</td> <td><input type="text" name="email" /></td>
	  </table>
	  <input type="submit" value="register"/>  
	</form>
  {% endblock %}
</div>
{% endblock %}

