<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Uppsala Project</title>
	<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" media="screen" /> 
</head>
<body>
	<div id="wrapper">
	<div id="header"> Uppsala Project</div>
	
	<div id="top_menu">
		logged in as {{ user }} | <a href="/logout" title="logout">Logout </a>
	</div>

	<div id="main_content">
		{% block main_content %}
		{% include "meet/index.html" %}
		{% include "radio/index.html" %}
		{% include "fileshare/index.html" %}
		{% endblock %}	
	</div>
	<div id="shoutbox">
		{% block side_content %}
		{% include "shoutbox/index.html" %}
		{% endblock %} 
	</div>
   <div id="footer">
      eyjafjallajökull
   </div>
	</div>
</body>
</html>
