<div id="menu">
	<div id="title">Uppsala Project&nbsp</div>
   <ul id="nav">
      <li id="chat"><a href="/" title="Home">Chat</a></li>
      <li><a href="#" title="Services">Share</a>
      <ul class="sub">
         <li><a href="#" title="Services > Webdesign">File</a></li>
         <li><a href="#" title="Services > Developement">Link</a></li>
         <li><a href="#" title="Services > Illustration">Idea</a></li>
      </ul>
      </li>
      <li id="wave"><a href="/wave" title="Blog">Wave</a> </li>
      <li><a href="#" title="Contact">Radio</a></li>
   </ul>
</div>
