<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Uppsala Project</title>
	<script type="text/javascript" src="/site_media/javascript/main.js"></script>
	<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" media="screen" /> 
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	{% block head_s %}{% endblock %}
</head>

<body>
	<div id="wrapper">
		{% include "menu.html" %}
	<div id="main_content">
		{% block main_content %}
		{% endblock %}	
	</div>
   <div id="footer">
		{{ user }} | <a href="/logout" title="logout">Logout</a>   
	 </div>
	</div>
</body>

</html>
