<html>

<head>
<link rel="stylesheet" type="text/css" href="main.css" />
</head>

<div class="login">
<h1>Login to project Uppsala</h1>

<form action="/users/login/" method="post">
<br>username: <input type="text" name="username">
<br>password: <input type="password" name="password">
<br> <input type="submit" value="login"> 
</form>
</div>

<br>

<div class="register">
<h1>New User</h1>

<form action="/users/register/" method="post">
<br>username: <input type="text" name="username">
<br>password: <input type="password" name="password">
<br>email: <input type="text" name="email">
<br> <input type="submit" value="register">  
</form>
</div>

</html>

