<h1>Login to project Uppsala</h1>

<form action="/users/login/" method="post">
<br>Kullanici Adi: <input type="text" name="username">
<br>Sifre        : <input type="text" name="password">
<br> <input type="submit" value="login"> 
</form>

<br>

<h1>New User</h1>

<form action="/users/register/" method="post">
<br>Kullanici Adi: <input type="text" name="username">
<br>Sifre        : <input type="text" name="password">
<br>Email        : <input type="text" name="email">
<br> <input type="submit" value="register">  
</form>
